@import "tailwindcss";
 
 
 
@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
            background-color: #fff;
            color: #1a202c;
            font-family: 'Inter', sans-serif;
        }
        @media (prefers-color-scheme: dark) {
            body {
                background-color: #1a202c;
                color: #f3f4f6;
            }
    }
    a {
        transition-property: color;
        transition-duration: 200ms;
    }
}
